{% load segtype %}

<div>
<div><strong class="col-md-2">协议</strong><span>{{ cur_customtype.name }}</span></div>
{% if cur_customtype.belong %}
<div><strong class="col-md-2">所属协议</strong><span><a class="show_belong_protocal_detail" val ="{{ cur_customtype.belong.id }}" name = "{{ cur_customtype.belong.name }}">{{ cur_customtype.belong.name }}</a></span></div>
{% endif %}
<div><strong class="col-md-2">描述</strong><span>{{ cur_customtype.desc }}</span></div>
</div>

<hr/>

<div>
<table id="segment_lists" class="table table-hover">
	<caption>字段</caption>
    <thead>
      <tr>
         <th>流水号</th>
         <th>种类</th>
         <th>类型</th>
         <th>名字</th>
         <th>描述</th>
      </tr>
   </thead>
   <tbody>
   	  {% for segment in segments %}
      <tr data-toggle="{{ segment.desc }}" >
      	<td class="show_segment_tooltips_class">{{ forloop.counter }}</td>
         <td class="show_segment_tooltips_type">{{ segment.protocal_type }}</td>
         <td class="show_segment_tooltips_class">
         	{{ segment|segtype|safe }}
         </td>
         <td class="show_segment_tooltips_name">{{ segment.name }}</td>
         <td class="show_segment_tooltips_name">{{ segment.desc }}</td>
      </tr>
	  {% endfor %}
   </tbody>
</table>

</div>

<script>
$(document).ready(function() {
	
   $(".show_belong_protocal_detail").unbind('click').click(function(e) {
      e.preventDefault();
      
      var protocal_id = $(this).attr('val');
      var parent_url = '{% url 'protocal_detail_parent' %}';
      var url = parent_url + protocal_id;
      var dtitle = "协议-" + $(this).attr('name');
      console.log(url)
      BootstrapDialog.show({
          title:dtitle,
           message: $('<div></div>').load(url)
       }); 
      

      return false;
   });

   $(".show_enum_segment_class_detail").unbind('click').click(function(e) {
      e.preventDefault();
      
      var segment_id = $(this).attr('id');
      var parent_url = '{% url 'enum_detail_by_segment_parent' %}';
      var url = parent_url + segment_id;
      var dtitle = "枚举-" + $(this).attr('title');
      console.log(url)
      BootstrapDialog.show({
          title:dtitle,
           message: $('<div></div>').load(url)
       }); 
      

      return false;
   });
   
	$(".show_segment_class_detail").unbind('click').click(function(e) {
		e.preventDefault();
		
		var custom_type_id = $(this).attr('id');
		var parent_url = '{% url 'customtype_detail_by_segment_parent' %}';
		var url = parent_url + custom_type_id;
		var dtitle = "自定义类型-" + $(this).attr('title');
		console.log(url)
 		BootstrapDialog.show({
 			 title:dtitle,
		     message: $('<div></div>').load(url)
		 }); 
		
		return false;
	});
});

        
</script>      