	
<div id="enum_segment_new_dialog" title = "创建新字段">

<form class="form-horizontal">

	<div id="results" class="alert alert-danger" role="alert"></div>
    
    <div class="control-group">
          <!-- Text input-->
		<label class="control-label padding_4px" for="input01">字段名称</label>
		<div class="controls">
			<input id="field_segment_name" type="text" placeholder="eg.result_id" class="form-control"
			value="{% if cur_segment %}{{ cur_segment.name }} {% endif %}" >
			<p class="help-block">输入字段的名称，使用英文，注意，这是在代码中使用的。
			所以建议统一使用Pascal格式：首字母大写。
			</p>
		</div>
    </div>
    
    <div class="control-group">
      <!-- Text input-->
      <label class="control-label padding_4px" for="input01">值</label>
      <div class="controls">
        <input id="field_segment_value" type="text" placeholder="" class="form-control"
        value="{% if cur_segment %}{{ cur_segment.value }} {% endif %}" >
        <p class="help-block">枚举类型的值。</p>
      </div>
    </div>
    
    <div class="control-group">
      <!-- Text input-->
      <label class="control-label padding_4px" for="input01">字段描述</label>
      <div class="controls">
        <input id="field_segment_desc" type="text" placeholder="" class="form-control"
        value="{% if cur_segment %}{{ cur_segment.desc }} {% endif %}" >
        <p class="help-block">字段的描述，主要是字段用来干嘛。</p>
      </div>
    </div>
    
    <hr>

    <div class="control-group text-center">
    	<!-- <span class="col-sm-3"></span> -->
		<button id="do_create_segment" class="btn btn-success btn-large btn_120px">
		
		{% if cur_segment %}
		更新
		{% else %}
		添加
		{% endif %}
		</button>
    </div>

	
	{% csrf_token %} 
    </fieldset>
  </form>

<div class="row">
<p></p>
<p></p>
<p></p>
<p></p>
</div>
</div>
	
	<script>
		$(document).ready(function() {
			$('.selectpicker').selectpicker('render');
			
			var dialog_name = "#enum_segment_new_dialog";
			var result_box = $(dialog_name + ' #results');
		    
		    result_box.hide();
		    
			$("#do_create_segment").click(function(e) {

		    	e.preventDefault();
		    	
		    	{% if cur_segment %}
		    	var cur_url = '{% url 'enum_segment_edit' cur_segment.id %}';
		    	{% else %}
		    	var cur_url = '{% url 'enum_segment_create' cur_enum.id %}';
		    	{% endif %}
		    	

		    	// 打包数据
		    		var pack_data = {};
		    		pack_data.segment_name = $('#field_segment_name').val();
		    		pack_data.segment_value = $('#field_segment_value').val();
		    		pack_data.segment_desc = $('#field_segment_desc').val();

		        	$.ajaxSetup({
					    data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
					});
		        
		            $.post({
		                url: cur_url,
		                data: pack_data,
		                success: function() {

		                   location.replace("{% url 'enum_segments_detail' cur_enum.id %}");
		                },
				        error : function(xhr,errmsg,err) {
				            
				            var resp = xhr.responseText.split("TRACEBACK");
				            console.log(xhr.status + ": " + resp[1]); 
				            BootstrapDialog.alert({
				            	title:'ERROR',
				            	message:resp[0],
				            	type: BootstrapDialog.TYPE_DANGER,
				            });
				        }
		            });
		    return false;
		});
	});
	
	</script>
