<div id="enum_delete_dialog" title = "删除枚举">

<p>确认删除枚举 <strong> </strong> 吗？</p>

</div>

<script>
	$(document).ready(function() {
		var dialog_name = "#enum_delete_dialog";
		
		$(dialog_name).dialog({
		    modal: true,
		    autoOpen: false,
		    width: "568px",
   			maxWidth: "90%"
		});

		$("button.delete_enum").click(function(e) {
		    e.preventDefault();
		    
		    var enum_id = $(this).attr('val');
		    var enum_name = $(this).attr('name');
		    console.log(enum_name);
		    $(dialog_name + ' strong').html(enum_name);

		    $(dialog_name).dialog('option', 'buttons', {
		        "确认": function() {
		        	// 打包数据
		    		var pack_data = {};
		    		pack_data.enum_id = enum_id;

		        	$.ajaxSetup({
					    data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
					});
		        
		            $.post({
		                url: '{% url 'enum_delete' %}',
		                data: pack_data,
		                success: function() {
		                   $(dialog_name).dialog("close");
		                   
		                   location.reload();
		                },
				        error : function(xhr,errmsg,err) {

				            console.log(xhr.status + ": " + xhr.responseText); 
							
				            
				        }
		            });
		            
		        },
		        "取消": function() {
		            $(this).dialog("close");
		        }
		    });
		    $(dialog_name).dialog("open");
		    return false;
		});
		
		
	});
	
</script>	