{% extends "project_base.html" %}
{% block project_content %}
	<h1>
	{% if cur_module %}
		{{ cur_module.name }}
	{% else %}
		所有协议
	{% endif %}    
	</h1>
	
<div id="protocal_new_dialog" title = "创建新协议">

<form class="form-horizontal">

	<div id="results" class="alert alert-danger" role="alert"></div>

    <fieldset>
        
    <div class="control-group">
          <!-- Text input-->
          <label class="control-label padding_4px" for="input01">枚举名称</label>
          <div class="controls">
            <input id="field_enum_name" type="text" placeholder="eg.MessageType" class="form-control"
            value="{% if cur_enum %}{{ cur_enum.name }} {% endif %}" >
            <p class="help-block">输入枚举的名称，使用英文，注意，这是在代码中使用的。
            所以建议统一使用Pascal格式：首字母大写。
            </p>
          </div>
    </div>

    <div class="row">
    
	    <div class="control-group col-sm-6">
	      <!-- Text input-->
	      <label class="control-label padding_4px" for="input01">嵌套协议</label>
	      <div class="controls">
	     		 {% if cur_enum.belong or cur_enum.belong_ct %}
					<select id="field_enum_inner_protocal_id" class="selectpicker"  >
	  			 		<option value="0" type="0">无嵌套</option>
	  					{% for protocal in protocals %}
						{% if protocal.id == cur_enum.belong.id %}
						<option value="{{ protocal.id }}" type="0" selected="selected">(p) {{ protocal.name }}</option>
						{% else %}
						<option value="{{ protocal.id }}" type="0">(p) {{ protocal.name }}</option>
						{% endif %}
	  					{% endfor %}

	  					{% for customtype in customtypes %}
						{% if customtype.id == cur_enum.belong_ct.id %}
							<option value="{{ customtype.id }}" type="2" selected="selected">(ct) {{ customtype.name }}</option>
						{% else %}
	  						<option value="{{ customtype.id }}" type="2" >(ct) {{ customtype.name }}</option>
						{% endif %}
	  					{% endfor %}
					</select>
	        	{% else %}
	        		<select id="field_enum_inner_protocal_id" class="selectpicker" title="选择相关协议.." >
	  			 		<option value="0" type="0">无嵌套</option>
	  					{% for protocal in protocals %}
	  					<option value="{{ protocal.id }}" type="0" >(p) {{ protocal.name }}</option>
	  					{% endfor %}
	  					{% for customtype in customtypes %}
	  					<option value="{{ customtype.id }}" type="2" >(ct) {{ customtype.name }}</option>
	  					{% endfor %}
					</select>
	        	{% endif %}
	      </div>
            <p class="help-block">选择其父协议,局部使用。
            </p>
	    </div>   
    
    </div>

    <div class="control-group">
      <!-- Text input-->
      <label class="control-label padding_4px" for="input01">枚举描述</label>
      <div class="controls">
        <input id="field_enum_desc" type="text" placeholder="" class="form-control"
        value="{% if cur_enum %}{{ cur_enum.desc }} {% endif %}" >
        <p class="help-block">协议的描述。</p>
      </div>
    </div>
    
    <div class="control-group text-center">
    	<span class="col-sm-3"></span>
		<button id="create_enum" class="btn btn-success btn-large col-sm-2">
		
		{% if cur_enum %}
		更新枚举
		{% else %}
		添加枚举
		{% endif %}
		</button>
		<span class="col-sm-2"></span>
		<a href="{% url 'module_detail' cur_module.id %}" id="export_project" class="btn btn-danger btn-large col-sm-2">取消</a>
		<span class="col-sm-3"></span>
    </div>

	
	{% csrf_token %} 
    </fieldset>
  </form>

</div>
	
	<script>
		$(document).ready(function() {
			var dialog_name = "#protocal_new_dialog";
		
			var result_box = $(dialog_name + ' #results');
		    
		    result_box.hide();
		    
			$("#create_enum").click(function(e) {

		    	e.preventDefault();
		    	
		    	{% if cur_enum %}
		    	var cur_url = '{% url 'enum_edit' cur_enum.id %}';
		    	{% else %}
		    	var cur_url = '{% url 'enum_create' cur_module.id %}';
		    	{% endif %}
		    	

		    	// 打包数据
	    		var pack_data = {};
	    		pack_data.enum_name = $('#field_enum_name').val();
	    		pack_data.enum_desc = $('#field_enum_desc').val();
	    		tp = $('#field_enum_inner_protocal_id').find("option:selected").attr('type');
	    		if (!tp){
    				pack_data.enum_inner_type = 0
	    		}else{
    				pack_data.enum_inner_type = tp
	    		}
	    		pack_data.enum_inner_protocal_id = $('#field_enum_inner_protocal_id').val();

	        	$.ajaxSetup({
				    data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
				});
	        
	            $.post({
	                url: cur_url,
	                data: pack_data,
	                success: function() {

	                   location.replace("{% url 'module_detail' cur_module.id %}");
	                },
			        error : function(xhr,errmsg,err) {
			            
			            var resp = xhr.responseText.split("TRACEBACK");
			            console.log(xhr.status + ": " + resp[1]); 
			            BootstrapDialog.alert({
				            title:'ERROR',
				            message:resp[0],
				            type: BootstrapDialog.TYPE_DANGER,
				        });
			        }
	            });
		    return false;
		});
	});
	
	</script>



{% endblock %}