{% extends "project_base.html" %}
{% block project_content %}
	<h1>
	{% if cur_module %}
		{{ cur_module.name }}
	{% else %}
		所有协议
	{% endif %}    
	</h1>

	<div class="pinned text-right">
		{% if cur_module %}
		<a href="{% url 'protocal_create' cur_module.id %}" id="create_protocal" class="button button-raised button-primary button-pill">新增协议</a> 
		{% endif %} 
	</div>
	
	{% include "protocal_lists.html" %} 
	
	<script>
		$(document).ready(function() {
			$(".pinned").pin();
		});
	
	</script>



{% endblock %}